<a routerLink="brokerform" class="w-full border border-indigo-300 px-4 py-2 mt-4 rounded-md focus:outline-none focus:ring focus:border-blue-500">Home</a> &nbsp;
<a routerLink="brokerform"  class="w-full border border-indigo-300 px-4 py-2 mt-4 rounded-md focus:outline-none focus:ring focus:border-blue-500">Broker Form</a>&nbsp;
<a routerLink="brokerdisp"  class="w-full border border-indigo-300 px-4 py-2 mt-4 rounded-md focus:outline-none focus:ring focus:border-blue-500">Broker Display</a>
<router-outlet></router-outlet>


